.App {
  text-align: center;
  margin-top: 20px;
}

.form__container{
  /* border: 2px solid dodgerblue; */
  width: 1000px;
  margin: 20px auto;
}

form {
  /* border: 2px solid darkred; */
  display: flex;
  flex-direction: column;
  
  
}

form button {
  min-width: 130px;
}