.App {
  /* border: 2px solid dodgerblue; */
  box-sizing: border-box; 
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
}

.form__container {
  /* border: 2px solid dodgerblue; */
  margin: 20px auto;
}

form button {
  min-width: 130px;
}

.village__container {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
}